<h1>Rapport D'Enseignant</h1>


{{#salle}}

        <h6>Fréquentation des Apprenant<h6>
            <p>{{frequeappre}}</p>
        <h6>Contenu couvert<h6>
            <p>{{contenucouvert}}</p>
        <h6>Activités en classe<h6>
            <p>{{activiteclasse}}</p>
        <h6>Progrès des apprenants<h6>
            <p> {{progresapprenant}}</p>
        <h6>Comportement des apprenants<h6>
            <p> {{comportappre}}</p>
        <h6>Questions des apprenants<h6>
            <p>{{questappren}}</p>
        <h6>Durée du cours<h6>
             <p>{{duree}} heure</p>
        <h6>Problèmes techniques ou logistiques<h6>
           <p> {{probletechlogis}}</p>
        <h6>Feedback du professeur<h6>
            <p> {{feedback}}</p>
{{/salle}}

<style>
    p{
        width: 500px;
        margin-left:50px;
        font-weight:bold;
        font-size:16px;
    }
    h1{
        margin:0 0 0 400px;
        font-weight:800;
        color:blue;

    }
</style>