{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_powerschool/index


    Example context (json):
    {

    }
}}

<!--<div class="d-flex flex-wrap align-items-center">
  <div class="form-group fitem">

    
  <input type="button" class="btn btn-info align-items-center" value="Definir les Periodes" onclick="location.href='{{periode}}'"> 
  </div>

</div>-->
<html>
    <form action="{{postefo}}?id=4" method="GET">
        <div class="d-flex justify-content-around" style="margin-top:35px">
                  <div class="col-2">
                      <label class="labelsta"> Année</label>
                      <select class="form-control annee1" name="annee">
                      <option value=""></option>
                      {{#annee}}
                        <option value="{{id}}">{{datedebut}}-{{datefin}}</option>
                      {{/annee}}
                      </select>
                  </div>
                  <div class="col-2">
                      <label class="labelsta"> Etablissement</label>
                      <select class="form-control campus1" name="idca">
                      <option value=""></option>
                      {{#campus}}
                      <option value="{{id}}">{{libellecampus}}</option>
                      {{/campus}}

                      </select>
                  </div>
                  <div class="col-2">
                      <label class="labelsta"> Filiere</label>
                      <select class="form-control filiere1" name="filiere">
                      <option value=""></option>
                      {{#filiere1}}
                        <option value="{{id}}">{{libellefiliere}}</option>
                      {{/filiere1}}
                      </select>
                  </div>
                  <div class="col-2">
                      <label class="labelsta"> Specialite/Classe</label>
                      <select class="form-control specialite1" name="specialite">
                      <option value=""></option>
                      {{#specialite1}}
                      <option value="{{id}}">{{libellespecialite}}</option>
                      {{/specialite1}}
                      </select>
                  </div>
                  <div class="col-2">
                      <label class="labelsta"> Cycle</label>
                      <select class="form-control cycle1" name="cycle">
                        <option></option>
                      {{#cycle1}}
                      <option value="{{id}}">{{libellecycle}}</option>
                      {{/cycle1}}
                      </select>
                  </div>
                  <div class="col-2">
                      <label class="labelsta"> Salle</label>
                      <select class="form-control salle1" name="salle">
                        <option></option>
                      {{#salle1}}
                      <option value="{{id}}">{{libellecycle}}</option>
                      {{/salle1}}
                      </select>
                  </div>
                  
          </div> 
        {{! <div class="d-flex justify-content-around" style="margin-top:35px">
                  <div class="col-2">
                      <label> Genre</label>
                      <select class="form-control" name="gender">
                      <option value=""></option>
                        <option value="f">Femme</option>
                        <option value="h">Homme</option>
                      </select>
                  </div>
          </div>  }}
          <input class="form-control col-1 mt-5 btn-primary" style="margin-left:30px" type="submit" name="valider" value="valider" >
    </form>
    <h2>Programme d'examen</h2>

    <div class="table card mt-2 my-4">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Cours</th>
                    <th scope="col">Semestre</th>
                    <th scope="col">Groupe</th>
                    <th scope="col">Salle</th>
                    <th scope="col">Specialite</th>
                    <th scope="col">Cycle</th>
                    <th scope="col">Date du cours</th>
                    <th scope="col">Heure de debut</th>
                    <th scope="col">Heure de fin</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                {{#programme}}
                <tbody>
                  <tr>
                    
                        <th scope="row">{{id}} </th>
                        <td>{{fullname}} ({{shortname}})</td>
                        <td>{{libellesemestre}} </td>
                        <td>{{numerogroup}} </td>
                        <td>{{numerosalle}} </td>
                        <td>{{libellespecialite}} ({{abreviationspecialite}}) </td>
                        <td>{{libellecycle}} ({{nombreannee}} ans) </td>
                        <td>{{datecours}} </td>
                        <td>{{heuredebutcours}}h </td>
                        <td>{{heurefincours}}h</td>
                        <td>
                            <!--<input type="button" class="btn btn-primary" value="modifier" onclick="location.href='{{programmeedit}}?id={{id}}&idca={{idca}}'">-->
                            <a  class="btn btn-danger local_annee_delete_button" href="{{examensupp}}?id={{id}}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
                
                {{/programme}}

              </table>


    </div>
        <div class="mt-6">
                <h2>Table d'examen</h2>
                {{{programexame}}}
              </div>

    <hr>

    <script src="{{wwwroote}}/local/powerschool/js/jquery.js"></script>
    <script src="{{wwwroote}}/local/powerschool/js/chart.js"></script>
    <script src="{{wwwroote}}/local/powerschool/js/statitisquefiltrer.js"></script>
    <script src="{{wwwroote}}/local/powerschool/js/circulaires.js"></script>
    <script src="{{wwwroote}}/local/powerschool/js/statistique.js"></script>
    <script src="{{wwwroote}}/local/powerschool/js/statistiquenotee.js"></script>
</html>