<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table card mt-2 mb-2">
        <table class="table">

            <tr>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>Somme Total</th>
                <th>Actions</th>
            </tr>
            {{#ligneachat}}
            <tr>
                <td>{{quantite}}</td>
                <td>{{prixuni}}</td>
                <td>{{sommetota}}</td>
                <td>
                        {{! <input type="button" class="btn btn-primary local_annee_delete_button" value="Modifier" onclick="location.href='{{materielsmod}}<!--?id={{id}}'"> }}-->
                        <a href='{{materielssup}}?id={{id}}' class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {{/ligneachat}}
            <tr>
               {{#somme}}
                <td colspan=6 class="text-align">Total des dépenses: {{sommateriel}}</td>
               {{/somme}}
            </tr>
        </table>
    </div>
</body>
</html>