<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table card mt-2 mb-2">
        <table class="table">

            <tr>
                <th>Matricule</th>
                <th>Marque</th>
                <th>Place</th>
                <th>Description</th>
                <th>Chauffeur</th>
                <th>Actions</th>
            </tr>
            {{#transport}}
            <tr>
                <td>{{matricule}}</td>
                <td>{{marque}}</td>
                <td>{{place}}</td>
                <td>{{description}}</td>
                <td>{{firstname}}-{{lastname}}</td>
                <td>
                        <input type="button" class="btn btn-primary local_annee_delete_button" value="Modifier" onclick="location.href='{{transportmodif}}?id={{id}}'">
                        <input type="button" class="btn btn-danger local_annee_delete_button" value="Supprimer" action="affectercours" onclick="location.href='{{materielssup}}?id={{id}}'">
                </td>
            </tr>
            {{/transport}}
      
        </table>
    </div>
</body>
</html>